# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Audio
*.wav
*.mp3
*.csv

# Dataset files
FineTuned-AI-Models/dataset/lyrics.txt
FineTuned-AI-Models/dataset/lyrics_dataset/
FineTuned-AI-Models/training/lyrics_dataset/
FineTuned-AI-Models/lyrics.csv